header{
    display: flex;
    flex-direction: row;
    background-color: lightskyblue;

}
nav{
background-color: aqua;
width:40%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
li{
    padding: 5px;
    margin: 15px;
}
